
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>


            <form action="Cal/Total" method="post">
                value 1
                <input type="text" name="value1" />
                <br />
                value 2
                <input type="text" name="value2" />

                <br />
                <input type="radio" name="cal" value="+" />+<br />
                <input type="radio" name="cal" value="-" />-<br />
                <input type="radio" name="cal" value="*" />*<br />
                <input type="radio" name="cal" value="/" />/<br />
                <input type="submit" value="Total" />
            </form>
        </center>
    </div>
</body>
</html>
